@import "App";
@import "Select";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;

  padding: 5%;

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .user-input {
    display: flex;
    flex-direction: column;
    align-self: center;

    margin: 5% 0 0 0;
    max-width: 320px;

    .current-location,
    .vpn-location,
    .test-period {
      display: flex;
      justify-content: space-between;

      margin: 5% 0 0 0;
    }
  }

  .test-period {
    flex-direction: column;

    .input-multi {
      min-width: 320px;
      display: flex;

      .time-period-select {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid grey;

        width: 33%;
        height: 2em;

        &.selected {
          background-color: grey;
        }
      }
    }
  }
  .input-qestion,
  .input-select {
    width: 50%;
    text-align: left;
  }

  .view-results-button {
    margin-top: 5%;
    height: 2em;
    width: 30%;

    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;

    background: cadetblue;
    color: white;
  }
}

.result-container {
  display: flex;
  flex-direction: column;

  margin-top: 2%;

  .result-details {
    display: flex;

    .result-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2%;

      border: 1px solid grey;
      width: 33%;
      height: 4em;

      text-align: left;

      .result-detail-title {
        margin-bottom: 5%;
        color: grey;
        font-size: 0.8em;
      }
    }
  }

  .result-header {
    display: flex;
    align-items: center;

    padding: 2%;

    height: 3em;
    border: 1px solid grey;

    .result-logo {
      margin-right: 5px;

      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: pink;
    }
    .result-name {
      font-weight: 600;
    }
  }
}
