@import "App";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;

  padding: 5%;

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .user-input {
    display: flex;
    flex-direction: column;

    margin: 5% 0 0 0;
    max-width: 320px;

    .current-location,
    .vpn-location,
    .test-period {
      display: flex;

      .input-multi {
        min-width: 320px;
      }
    }
  }
}
